.masthead
  .brand
    height 100px

#content
  font-family 'Open Sans',Arial,Helvetica,Sans-Serif !important

  table
    width 100%

    td:first-child
      font-weight 400

    td:last-child
      text-align right

