@import './colors.styl'

.masthead
  margin 40px 0 30px
  font-family 'Open Sans',Arial,Helvetica,Sans-Serif !important

  .container
    background-color #fff
    box-shadow 0 1px 10px #e9e9e9
    padding 20px

  img.brand
    height 125px

  .page-header
    margin 0
    border none

  hr
    margin 3px 0 20px

  h2
    font-family 'Open Sans',Arial,Helvetica,Sans-Serif
    color html5-niceblue
    margin-top 5px

  h3
    padding 0
    margin-bottom 0

  .heading
    color html5-ltorange
    font-family monospace

  .well
    background-color #fcfcfc

#logistics
  h4
    margin-top 0

  .alert-link:hover
    text-decoration underline

  table
    margin 0 0 10px

  td:first-child
    vertical-align top
    font-weight 900
    min-width: 100px
    padding: 5px 0

  td
    p
      margin: 5px 0

      strong
        font-weight 400


#content
  font-family 'Open Sans',Arial,Helvetica,Sans-Serif !important

  table
    width 100%

    td:first-child
      font-weight 400

    td:last-child
      text-align right

.timeline-heading
  background-color #111
  color #fff

.twitter-heading
  background-color #555
  color #eee

.about-heading
  backgroundColor #888
  color #fff

iframe
  border 0
